<footer class="ph3 pv4 bg-off-white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="NeoSki logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscribe</p>
			<p>Get updates from me whenever something important happens.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">NeoSki</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/teach" class="link">Teaching Resources</a></li>
					<li><a href="/links" class="link">My Links</a></li>
					<li><a href="/projects" class="link">My Projects</a></li>
					<li><a href="/contact" class="link">Contact Me</a></li>
					<li><a href="/about" class="link">About Me</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">SkinnerMedia</h3>
				<ul class="mb3">
					<li><a href="/skinnermedia" class="link">Home</a></li>
					<li><a href="/skinnermedia/team" class="link">The Team</a></li>
					<li><a href="/skinnermedia/crofton" class="link">The Crofton</a></li>
					<li><a href="https://link.neoski.tk/localarearadio" class="link">LocalAreaRadio</a></li>
					<li><a href="https://link.neoski.tk/skinnerscience" class="link">SkinnerScience</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Website</h3>
				<ul class="mb3">
					<li><a href="/tech" class="link">Technologies</a></li>
					<li><a href="/images" class="link">Images</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Quick Links</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://link.neoski.tk/twitter" "svg" "icons-twitter" "name" "Twitter") }}
					{{ partial "social-icon" (dict "link" "https://link.neoski.tk/instagram" "svg" "icons-instagram" "name" "Instagram") }}
					{{ partial "social-icon" (dict "link" "https://link.neoski.tk/facebook" "svg" "icons-facebook" "name" "Facebook") }}
				</ul>
			</div>

			<p class="f6">
				<br>
				Cover image photo by Fayette Reynolds M.S., more information is available <a href="/images">here</a>.
				<br>
				<br>
				© Copyright Neo Skinner and SkinnerMedia 2022. All Rights Reserved.
				<br>
				<br>
				Proudly powered by <a href="https://netlify.com">Netlify</a>. Built by <a href="/skinnermedia/crofton">The Crofton</a>.
			</p>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>