<footer class="ph3 pv4 bg-off-white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscribe</p>
			<p>Get updates from me whenever something important happens.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">NeoSki</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/teach" class="link">Teaching Resources</a></li>
					<li><a href="/links" class="link">My Links</a></li>
					<li><a href="/projects" class="link">My Projects</a></li>
					<li><a href="/contact" class="link">Contact Me</a></li>
					<li><a href="/about" class="link">About Me</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">SkinnerMedia</h3>
				<ul class="mb3">
					<li><a href="/skinnermedia" class="link">Home</a></li>
					<li><a href="/skinnermedia/team" class="link">The Team</a></li>
					<li><a href="/skinnermedia/crofton" class="link">The Crofton</a></li>
					<li><a href="https://linktr.ee/LocalAreaRadio" class="link">LocalAreaRadio</a></li>
					<li><a href="https://skinnerscience.netlify.app" class="link">SkinnerScience</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Website</h3>
				<ul class="mb3">
					<li><a href="/tech/" class="link">Technologies</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Quick Links</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://twitter.com/NeoSkin7" "svg" "icons-twitter" "name" "Twitter") }}
					{{ partial "social-icon" (dict "link" "https://instagram.com/neoskin7" "svg" "icons-instagram" "name" "Instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/NeoSkin7/" "svg" "icons-facebook" "name" "Facebook") }}
				</ul>
			</div>

			<p class="f6">
				© Copyright Neo Skinner 2022. All Rights Reserved.
				<br>
				Proudly powered by Netlify.
			</p>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>