<footer class="ph3 pv4 bg-off-white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="NeoSki logo" class="db w6 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscribe</p>
			<p>Get updates from me whenever something important happens.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">NeoSki</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/teach" class="link">Teaching Resources</a></li>
					<li><a href="/links" class="link">My Links</a></li>
					<li><a href="/projects" class="link">My Projects</a></li>
					<li><a href="/contact" class="link">Contact Me</a></li>
					<li><a href="/about" class="link">About Me</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Branches</h3>
				<ul class="mb3">
					<li><a href="/skinnermedia" class="link">SkinnerMedia</a></li>
					<li><a href="/skinnermedia/crofton" class="link">The Crofton</a></li>
					<li><a href="https://link.neoski.tk/skinnerscience" class="link">SkinnerScience</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">SkinnerMedia</h3>
				<ul class="mb3">
					<li><a href="/skinnermedia" class="link">Home</a></li>
					<li><a href="/skinnermedia/team" class="link">The Team</a></li>
					<li><a href="/skinnermedia/crofton" class="link">The Crofton</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Website</h3>
				<ul class="mb3">
					<li><a href="/dot-tk" class="link">Why .tk?</a></li>
					<li><a href="/tech" class="link">Technologies</a></li>
					<li><a href="/images" class="link">Images</a></li>
				</ul>
			</div>

			<!-- <div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://link.neoski.tk/twitter" "svg" "icons-twitter" "name" "Twitter") }}
					{{ partial "social-icon" (dict "link" "https://link.neoski.tk/instagram" "svg" "icons-instagram" "name" "Instagram") }}
				</ul>
			</div> -->

			<p class="f6">
				<br>
				Cover image photo by Fayette Reynolds M.S., more information is available <a href="/images">here</a>.
				<br>
				Copyright © Neo Skinner and SkinnerMedia, 2022-<span id="copyright-year"></span>. All Rights Reserved.
				<br>
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
				<br>
				The authors of pictures used within this work retain the right to the copyright of their own work. We are always happy to resolve any disputes in relation to copyright.
				<br>
				Proudly powered by <a href="https://netlify.com">Netlify</a>. Built by <a href="/skinnermedia/crofton">The Crofton</a>.
			</p>

			<div class="flex justify-around flex-wrap f6">
				<div class="flex flex-column justify-around">
					<a href="http://www.w3.org/html/logo/">
						<img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-performance-semantics-storage.png" width="261" height="64" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Performance &amp; Integration, Semantics, and Offline &amp; Storage" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Performance &amp; Integration, Semantics, and Offline &amp; Storage">
					</a>
				</div>
				<div class="flex flex-column justify-around">
					<a href="/humans.txt">
						<img src="https://humanstxt.org/img/oficial-logos/humanstxt-isolated-blank.gif" alt="Humans.txt">
					</a>
				</div>
				<div class="flex flex-column justify-around">
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
						<img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
					</a>
				</div>
				<div class="flex flex-column justify-around">
					<a href="https://status.neoski.tk">
						<img src="https://api.netlify.com/api/v1/badges/adf6770d-e346-43f2-91b9-994151a9a3d6/deploy-status" alt="Netlify Deploy Status">
					</a>
				</div>
			</div>

		</div>
	</div>

</footer>

<script>
	var dt = new Date();
	document.getElementById("copyright-year").innerHTML = (dt.getFullYear());
</script>