<head>
	<!-- Title -->
	<title>{{ .Title }} | {{ $.Site.Title }}</title>

	<!-- Stylesheet -->
	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- General -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="I am a digital creator and educator based in the United Kingdom. My mission is to make the world a better and more diverse place through improved education and opportunities.">
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
	<meta name="keywords" content="teach, learn, blog, neoski">
	<meta name="language" content="English">
	<meta name="revisit-after" content="2 days">
	<meta name="author" content="Neo Skinner">
	<meta name="copyright" content="Copyright Neo Skinner 2022. All Rights Reserved.">
	<link rel="canonical" href="https://neoski.tk{{ .Permalink }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://neoski.tk/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://neoski.tk/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://neoski.tk/img/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://neoski.tk/img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="https://neoski.tk/img/safari-pinned-tab.svg" color="#1d95f8">
	<link rel="shortcut icon" href="https://neoski.tk/img/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="NeoSki">
	<meta name="application-name" content="NeoSki">
	<meta name="msapplication-TileColor" content="#1d95f8">
	<meta name="msapplication-TileImage" content="https://neoski.tk/img/mstile-144x144.png">
	<meta name="msapplication-config" content="https://neoski.tk/img/browserconfig.xml">
	<meta name="theme-color" content="#000000">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Title }} | {{ $.Site.Title }}">
	<meta property="og:description" content="I am a digital creator and educator based in the United Kingdom. My mission is to make the world a better and more diverse place through improved education and opportunities.">
	<meta property="og:url" content="https://neoski.tk{{ .Permalink }}">
	<meta property="og:image" content="{{ .Params.socialimg }}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://neoski.tk{{ .Permalink }}">
	<meta property="twitter:title" content="{{ .Title }} | {{ $.Site.Title }}">
	<meta property="twitter:description" content="I am a digital creator and educator based in the United Kingdom. My mission is to make the world a better and more diverse place through improved education and opportunities.">
	<meta property="twitter:image" content="{{ .Params.socialimg }}">

	<!-- MathJax -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<!-- Netlify Identity -->
	{{ if .IsHome }}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{{ end }}
</head>