<head>
	<!-- Title -->
	<title>{{ .Title }} | {{ $.Site.Title }}</title>

	<!-- Stylesheet -->
	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- General -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="{{ .Summary }}">
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
	<meta name="keywords" content="teach, learn, blog, neoski">
	<meta name="language" content="English">
	<meta name="revisit-after" content="2 days">
	<meta name="author" content="Neo Skinner">
	<meta name="copyright" content="Copyright Neo Skinner and SkinnerMedia 2022-{{ now.Format " 2006" }}. All Rights Reserved.">
	<link type="text/plain" rel="author" href="/humans.txt" />
	<link rel="canonical" href="https://neoski.uk{{ .Permalink }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://neoski.uk/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://neoski.uk/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://neoski.uk/img/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://neoski.uk/img/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" href="https://neoski.uk/img/favicon.ico?v=2">
	<meta name="apple-mobile-web-app-title" content="NeoSki">
	<meta name="application-name" content="NeoSki">
	<meta name="msapplication-TileColor" content="#1d95f8">
	<meta name="msapplication-TileImage" content="https://neoski.uk/img/favicon-32x32.png">
	<meta name="theme-color" content="#1d95f8">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Title }} | {{ $.Site.Title }}">
	<meta property="og:description" content="{{ .Summary }}">
	<meta property="og:url" content="https://neoski.uk{{ .Permalink }}">
	<meta property="og:image" content="{{ .Params.socialimg }}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://neoski.uk{{ .Permalink }}">
	<meta property="twitter:title" content="{{ .Title }} | {{ $.Site.Title }}">
	<meta property="twitter:description" content="{{ .Summary }}">
	<meta property="twitter:image" content="{{ .Params.socialimg }}">

	<!-- MathJax -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<!-- Netlify Identity -->
	{{ if .IsHome }}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{{ end }}

	<!-- Twemoji -->
	<script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

	<!-- Cookie Consent -->
	<link rel="stylesheet" id="silktide-consent-manager-css" href="/cookie-consent/silktide-consent-manager.css">
	<script src="/cookie-consent/silktide-consent-manager.js"></script>
	<script>
		silktideCookieBannerManager.updateCookieBannerConfig({
			background: {
				showBackground: false
			},
			cookieIcon: {
				position: "bottomLeft"
			},
			cookieTypes: [
				{
					id: "necessary",
					name: "Necessary",
					description: "<p>These cookies are necessary for the website to function properly and cannot be switched off. They help with things like logging in and setting your privacy preferences.</p>",
					required: true,
					onAccept: function () {
						console.log("Necessary cookies accepted");
					}
				},
				{
					id: "analytical",
					name: "Analytical",
					description: "<p>These cookies help us improve the site by tracking which pages are most popular and how visitors move around the site.</p>",
					required: false,
					onAccept: function () {
						console.log("Analytical cookies accepted");
						const scriptElement = document.querySelector('[data-cookie-consent="tracking"]');
						if (scriptElement) {
							scriptElement.type = "text/javascript";
							console.log("Analytical cookies enabled");
						} else {
							console.error("ERROR Analytical cookies not found");
						};
						gtag('consent', 'update', {
							analytics_storage: 'granted',
						});
						dataLayer.push({
							'event': 'consent_accepted_analytical',
						});
					},
					onReject: function () {
						gtag('consent', 'update', {
							analytics_storage: 'denied',
						});
					}
				}
			],
			text: {
				banner: {
					description: "<p>Cookies are used on this site to enhance your user experience and analyze traffic. We are transparent about the cookies we use and you can change your preferences at any point during your browsing experience. For more information, please view our <a href=\"https://neoski.uk/privacy/\">Privacy Policy</a>.</p>",
					acceptAllButtonText: "Accept all",
					acceptAllButtonAccessibleLabel: "Accept all cookies",
					rejectNonEssentialButtonText: "Reject non-essential",
					rejectNonEssentialButtonAccessibleLabel: "Reject non-essential",
					preferencesButtonText: "Preferences",
					preferencesButtonAccessibleLabel: "Toggle preferences"
				},
				preferences: {
					title: "Customize your cookie preferences",
					description: "<p><span style=\"font-size: 1rem; letter-spacing: 0.02rem;\">We respect your right to privacy. You can choose below not to allow some types of cookies. Your cookie preferences will apply across our website.</span></p>",
					creditLinkText: "Consent by Silktide",
					creditLinkAccessibleLabel: "Cookie consent provided by Silktide"
				}
			},
			position: {
				banner: "bottomCenter"
			}
		});
	</script>

	<!-- Google Analytics -->
	<script type="text/plain" data-cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-EMF804TXLZ"></script>
	<script type="text/plain" data-cookie-consent="tracking">
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-EMF804TXLZ');
	</script>
	<!-- end of Google Analytics-->

	<!-- Microsoft Clarity -->
	<script type="text/plain" data-cookie-consent="tracking">
			(function (c, l, a, r, i, t, y) {
				c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
				t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
				y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "i9x2jzu2l7");
		</script>
	<!-- end of Microsoft Clarity-->
	<!-- end of Cookie Consent -->

</head>