<div id="mc_embed_shell">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
    <form action="https://neoski.us20.list-manage.com/subscribe/post?u=08ebd2b95d6ed94056ca6ae2f&amp;id=80a121fb23&amp;f_id=000428e7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <fieldset><input type="email" placeholder="Email" name="EMAIL" class="required email w-100 mb2 border-box" id="mce-EMAIL" required="" value=""><label class="popup" for="email">Email</label></fieldset>
        </div>
        <div hidden=""><input type="hidden" name="tags" value="2943719"></div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_08ebd2b95d6ed94056ca6ae2f_80a121fb23" tabindex="-1" value="">
        </div>
        <div class="optionalParent">
          <div class="clear foot tc">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn raise" value="Sign Up!">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>