img {
  max-width: 100%;
}

/* Remove border-radius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}

video {
  max-width: 100%;
}

/* Remove border-radius from full-width images */
video:not(.w-100) {
  border-radius: var(--border-radius);
}
