.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.link:hover {
  transition: color 0.15s ease-in;
  text-decoration: underline;
}
.link:active {
  transition: color 0.15s ease-in;
}
.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

:not(footer, nav, .cms) > a:not(.link, .card) {
  color: var(--primary);
  transition: var(--hover-transition);
  word-wrap: break-word;
  &:hover {
    background-color: var(--highlight);
    color: var(--white);
  }
}
