.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.link:hover {
  transition: color 0.15s ease-in;
  text-decoration: underline;
}
.link:active {
  transition: color 0.15s ease-in;
}
.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}

a:not(.link),
a:not(.card),
:not(footer.a) {
  color: var(--primary);
  transition: var(--hover-transition);
  word-wrap: break-word;
  &:hover {
    background-color: var(--highlight);
    color: var(--white);
  }
  &.no-color:hover {
    background-color: var(--grey-1);
    color: var(--primary);
  }
}
