:root {
  /* Colors */
  --primary: #1d95f8;
  --highlight: #1d95f8;
  --white: #000000;
  --off-white: #252525;
  --grey-1: #2b2b2b;
  --grey-2: #535353;
  --grey-3: #696969;
  --grey-4: #8a8a8a;
  --black: #ffffff;

  /* Typography */
  --default-font: "itc-souvenir-demi", Nunito Sans, -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue",
    ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  --acc-font: Nunito Sans, -apple-system, BlinkMacSystemFont, "avenir next",
    avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --title-font: "cooper-black", Nunito Sans, -apple-system, BlinkMacSystemFont,
    "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto,
    "segoe ui", arial, sans-serif;
  --font-family: var(--default-font);
  --title-family: var(--title-font);
  --line-height: 1.5;

  --font-size: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;

  --body-font-weight: 400;
  --bold-font-weight: 700;

  /* Sizing */
  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  /* Miscellaneous */
  --border-radius: 0.25rem;
  --hover-transition: all 150ms ease;
}
