<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}

<body class="sans-serif">

  <button class="acc-button f3 z-9999" id="font-switch" onclick="fontSwitch();" href="javascript:void(0)">
    Aa
  </button>

  {{ block "header" . }}{{ partial "nav" . }}{{end}}

  <div role="main">{{ block "main" . }}{{ end }}</div>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>