baseurl = "/"
languageCode = "en-us"
languageLang = "en"
title = "NeoSki"
enableRobotsTXT = true
[taxonomies]
  tag = 'tags'
[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe = true
        [markup.goldmark.extensions]
          [markup.goldmark.extensions.passthrough]
            enable = true
            [markup.goldmark.extensions.passthrough.delimiters]
              block = [['\[', '\]'], ['$$', '$$']]
              inline = [['\(', '\)']]
[params]
  math = true