{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title">The Books on My Shelf</h2>
		<div id="gr_grid_widget_1691484762">
			<div class="gr_grid_container">
				Loading...
			</div>
		</div>
		<script src="https://www.goodreads.com/review/grid_widget/98087436.Neo's%20all%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=200&order=a&shelf=all&sort=author&widget_id=1691484762" type="text/javascript" charset="utf-8"></script>
		<style type="text/css" media="screen">
			.gr_grid_container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
			}

			.gr_grid_book_container {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.gr_grid_book_container a:hover {
				background: none !important;
				transform: translateY(-.12rem) translateZ(0);
				transition: all .15s ease;
				transition: var(--hover-transition);
			}

			.gr_grid_book_container img {
				margin: 5px;
			}
		</style>
		<br style="clear: both">
		<br>
		<center>
			<a rel="nofollow" href="https://link.neoski.uk/goodreads"><img alt="goodreads.com" style="margin: 0; filter: brightness(0) saturate(100%) invert(1);" src="https://s.gr-assets.com/assets/layout/header/v2/goodreads_logo.svg" class="v-mid raise w-30" /></a>
		</center>
	</div>
</div>

{{ end }}