{{ define "main" }}

<div class="ph3">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w6 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
			<div>
				<h3 class="f3 b lh-title mb2 primary">Newsletter</h3>
				<p>Subscribe for my free newsletter below!</p>
			</div>
		</div>

		{{ partial "newsletter-form" . }}

		<div class="flex-ns mb3">
			<div>
				<h3 class="f3 b lh-title mb2 primary">Links</h3>
				<p>View all my links on the <a href="https://link.neoski.uk">Links</a> page.</p>
			</div>
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}