{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" "I have way too many links...") }}

<div class="mw7 center ph3 pt4">

  <ul class="flex-ns flex-column mhn1-ns pa3">
    <div class="w-50-ns ph1-ns flex flex-column">
      <h2 class="f3 b lh-title mb1 primary center">{{ .Params.heading1 }}</h2>
      {{ range .Params.links1 }}
      <a href="{{ .linkurl }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
        <h2 class="f3 b lh-title mb1 primary center">{{ .subheading }}</h2>
      </a>
      {{ end }}
    </div>
  </ul>

</div>

{{ end }}