{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" "Maintained, depreciated?!") }}

<div class="mw7 center ph3 pt4">

  {{ partial "short-text" .Params.section1 }}

  <ul class="flex-ns flex-column mhn1-ns pa3">
    <div class="w-50-ns ph1-ns flex flex-column">
      {{ range .Params.links1 }}
      <a href="{{ .linkurl }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise flex items-center">
        <img src="{{ .imgurl }}" alt="{{ .subheading }}" width="50px">
        <h3 class="f4 b lh-solid primary tc" style="width: 87%;">{{ .subheading }}</h3>
      </a>
      {{ end }}
    </div>
  </ul>
  {{ partial "short-text" .Params.section2 }}
  <ul class="flex-ns flex-column mhn1-ns pa3">
    <div class="w-50-ns ph1-ns flex flex-column">
      {{ range .Params.links2 }}
      <a href="{{ .linkurl }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise flex items-center">
        <img src="{{ .imgurl }}" alt="{{ .subheading }}" width="50px">
        <h3 class="f4 b lh-solid primary tc" style="width: 87%;">{{ .subheading }}</h3>
      </a>
      {{ end }}
    </div>
  </ul>
  {{ partial "short-text" .Params.section3 }}
  <ul class="flex-ns flex-column mhn1-ns pa3">
    <div class="w-50-ns ph1-ns flex flex-column">
      {{ range .Params.links3 }}
      <a href="{{ .linkurl }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise flex items-center">
        <img src="{{ .imgurl }}" alt="{{ .subheading }}" width="50px">
        <h3 class="f4 b lh-solid primary tc" style="width: 87%;">{{ .subheading }}</h3>
      </a>
      {{ end }}
    </div>
  </ul>

</div>

{{ end }}