{{ define "main" }}

<div class="mw6 center ph3 pv4">
  <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  <div class="flex flex-wrap justify-between grey-4">
    <p>{{ .Date.Format "Mon, 2 Jan, 2006" }}</p>
    <div class="tag-group">
      {{ range .Params.tags }}
      <span class="tag-text">
        <a href="/tags/{{. | urlize }}">{{.}}</a>
      </span>
      &nbsp;
      {{end}}
    </div>
  </div>
  <div class="cms mw6">
    <p>{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
  </div>
  <ul class="flex-ns flex-column mhn1-ns">
    <div class="w-50-ns ph1-ns flex flex-column">
      <h2 class="f3 b lh-title primary black mb3">Files</h2>
      {{ range .Params.files }}
      <a href="{{ .fileurl }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise flex items-center">
        <h3 class="b lh-solid primary">{{ .subheading }}</h3>
      </a>
      {{ end }}
    </div>
  </ul>
</div>
{{ end }}