{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "short-text" .Params.test-title}}

<div class="pb4">
    {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
    {{ end }}
</div>

{{ partial "text-and-image" (dict "imageUrl" .Params.teach.image "heading" .Params.teach.heading "text"
.Params.teach.text "buttonText" "Discover" "buttonLink" "/teaching") }}

{{ partial "text-and-image" (dict "imageUrl" .Params.blog.image "heading" .Params.blog.heading "text"
.Params.blog.text "buttonText" "Read More" "buttonLink" "/post") }}

{{ partial "blog" . }}

{{ partial "res" . }}

{{ end }}